
@{
    Layout = "~/Views/Shared/_TrustNTA_Employer_Layout.cshtml";
    @model IEnumerable<TrustNTA.Models.Seeker>
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/employer.js"></script>
}

<div class="employer-header-wrapper">
    <div class="header-left">
        <h4 class="employer-main-title">Your Dashboard</h4>
        <p class="employer-main-subtitle">Graduates listing</p>
    </div>
    <div class="header-right">
        <button id="btn-create-jpost" type="button" class="btn btn-success btn-create-jpost"><i style="margin-right: 5px; color: #fff;" class="fas fa-building"></i>Create a new job post</button>
    </div>
</div>

<hr style="margin-top:5px; margin-bottom:25px;" />
<table id="graduates-listing" class="display">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Job Types</th>
            <th>Available Location(s)</th>
            <th>Resume</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (TrustNTA.Models.Seeker seeker in Model)
            {
                <tr>
                    <td>@seeker.firstName</td>
                    <td>@seeker.middleName</td>
                    <td>@seeker.lastName</td>
                    <td>@seeker.email</td>
                    <td>@seeker.GetFormattedJobTypes()</td>
                    <td>@seeker.GetFormattedJobLocations()</td>
                    <td>--</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>--</td>
            </tr>
        }
    </tbody>
</table>
